Data Scientist Project

In [1]:
import pandas as pd

In [37]:
# read the data
customers = pd.read_csv(r"D:\Dataset\Data Scientist by Perqara\customers_dataset.csv")
products = pd.read_csv(r"C:\Users\rasyi\OneDrive\Github\Data Science\products_dataset.csv")
geolocation = pd.read_csv(r'C:\Users\rasyi\OneDrive\Github\Data Science\geolocation_dataset.csv')
order_items = pd.read_csv(r'C:\Users\rasyi\OneDrive\Github\Data Science\order_items_dataset.csv')
order_payments = pd.read_csv(r'C:\Users\rasyi\OneDrive\Github\Data Science\order_payments_dataset.csv')
order_reviews = pd.read_csv(r'C:\Users\rasyi\OneDrive\Github\Data Science\order_reviews_dataset.csv')
order_dataset = pd.read_csv(r'C:\Users\rasyi\OneDrive\Github\Data Science\orders_dataset.csv')
product_category = pd.read_csv(r'C:\Users\rasyi\OneDrive\Github\Data Science\product_category_name_translation.csv')
products_dataset = pd.read_csv(r'C:\Users\rasyi\OneDrive\Github\Data Science\products_dataset.csv')
sellers = pd.read_csv(r'C:\Users\rasyi\OneDrive\Github\Data Science\sellers_dataset.csv')

In [38]:
# data overview
customers.head()
products.head()
geolocation.head()
order_items.head()
order_payments.head()
order_reviews.head()
order_dataset.head()
product_category.head()
products_dataset.head()
sellers.head()

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ
3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,sao paulo,SP
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP

In [39]:
# data info, how many elements does this data frame have?
# customers.info()
# products.info()
# geolocation.info()
# order_items.info()
# order_payments.info()
# order_reviews.info()
# order_dataset.info()
# product_category.info()
# products_dataset.info()
sellers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  32951 non-null  object
 1   product_category_name       32341 non-null  object
 2   product_name_lenght         32341 non-null  float64
 3   product_description_lenght  32341 non-null  float64
 4   product_photos_qty          32341 non-null  float64
 5   product_weight_g            32949 non-null  float64
 6   product_length_cm           32949 non-null  float64
 7   product_height_cm           32949 non-null  float64
 8   product_width_cm            32949 non-null  float64
dtypes: float64(7), object(2)
memory usage: 2.3+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3095 entries, 0 to 3094
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   seller_id               3095 non-null   object
 1   seller_zip_code_prefix  3095 non-null   int64
 2   seller_city             3095 non-null   object
 3   seller_state            3095 non-null   object
dtypes: int64(1), object(3)
memory usage: 96.8+ KB

In [40]:
# check missing value
print(sellers.isnull().sum())

seller_id                 0
seller_zip_code_prefix    0
seller_city               0
seller_state              0
dtype: int64